div {
   /* border: 1px solid Chocolate;*/

}

body {
    background-image: url('../images/background.jpg');
    background-position: center bottom;
    background-repeat: repeat;
    background-size: cover;
    height: 1rem;
    overflow: auto;
    margin: 0px;
    }


header {
    background-image: url('../images/garlandheader.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1rem;
    overflow: auto;
    padding-top:10rem;
    }

.maincontent {
	padding: 2rem;
	width: 90%;
	margin:0 auto;
}

.leftcol, .rightcol {
	width: 45%;
}

.xmasheading {
 	color: #fff;
 	text-align:center;
 	line-height: 2.2rem;
 }

h4, .small {
	font-family: 'Alex Brush', cursive;
	font-weight: 800;
	margin: 0px;
}

h4 {
	font-size: 3.5rem;
}

.small {
	font-size: 2rem;
}

.addbox {
	width: 60%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-color: #f8df82;

}

.addbutton {
	background-image: url("../images/button.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 120px;
	font-size: 1.5rem;
	height:48px;
	background-position: top;
	padding-top:5px;
	margin-top:5px;
	display:block;
	margin:0 auto;
	color: #fff;
}

.listcontainer {
	background-color: #fff;
	opacity: 0.5;
	padding: 10px;
	border: 1px solid #f8df82;
	min-height: 10rem;

}

.rightcol {
	float: right;
}

.leftcol {
	float: left;
}

.delete {
	font-family: 'Alex Brush', cursive;
	font-weight: 800;
	color: #f8df82;
	font-size: 1.2rem;
	padding: 0px 10px;
}

